body {
	font-family: "Segoe UI";
}
a{text-decoration: none;}
.menu a {
     color: #898989;
     padding-left: 20px;}

.menu {
	background-color: #f6f6f6;
	width: 20%;
	height: 100%;
	position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
}

.menu p {
	  font-size: 18px;
      padding-top: 35px;
      padding-left: 35px;
      padding-bottom: 25px;
      color: #3c3b3b;
      font-weight: bold;
}

.menu ul li {
	display: flex;
	align-items: center;
	width: 165px;
	height: 45px;
    margin-left: 35px;
    list-style-position: inside;
}
.menu ul li:nth-child(1)::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/dashboard_gray.svg");
	background-size: contain;
}
.menu ul li:nth-child(2)::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/account_gray.svg");
	background-size: contain;
}
.menu ul li:nth-child(3)::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/map_gray.svg");
	background-size: contain;
}
.menu ul li:nth-child(4)::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/notify_gray.svg");
	background-size: contain;
}
.menu ul li:nth-child(5)::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/support_gray.svg");
	background-size: contain;
}

.menu ul li:hover  {
	background-color: #c32056;
}
.menu ul li:hover a {
	color: #fff;
}
.menu ul li:nth-child(1):hover::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/dashboard_white.svg") no-repeat;
	background-size: contain;	
}
.menu ul li:nth-child(2):hover::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/account_white.svg") no-repeat;
	background-size: contain;	
}
.menu ul li:nth-child(3):hover::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/map_white.png") no-repeat;
	background-size: contain;	
}
.menu ul li:nth-child(4):hover::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/notify_white.png") no-repeat;
	background-size: contain;	
}
.menu ul li:nth-child(5):hover::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img1/support_white.png") no-repeat;
	background-size: contain;	
}
/*main {
	background-color: #eaeaea;
}*/
main h6 {
	  font-size: 18px;
      margin-top: 35px;
      margin-left: 25%;
      color: #3c3b3b;
      font-weight: bold;
}
.row {
	margin-top: 60px;
   display: flex;
   justify-content: flex-start;
   margin-left: 25%;  
}
.row .data, .row .revenue, .row .fixed, .row .followers {
	box-shadow: 0 0 10px #c3c3c3;
	width: 25%;
	height: 115px;
	margin-right: 15px;
}
.row .data p:nth-child(2),.row .revenue p:nth-child(2),
.row .fixed p:nth-child(2), .row .followers p:nth-child(2){
    font-size: 14px;
    color: #cac9c1;
    width: 100px;
    margin-top: 20px;
}
.row .data p:nth-child(2),.row .fixed p:nth-child(2){
     margin-left: 55%;
}
.row .revenue p:nth-child(2),.row .followers p:nth-child(2){
     margin-left: 65%;
}
.row .dataimg, .row .revimg, .row .fiximg, .row .follimg {
	position: absolute;
    width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.row .dataimg {
	background-color: #448b00;
	top:100px;
	left: 26%;
}
.row .revimg {
	background-color: #d89e24;
	top:100px;
	margin-left: 1%;
}
.row .fiximg {
	background-color: #274d97;
	top:100px;
	margin-left: 1%;
}
.row .follimg {
	background-color: #c32056;
	top:100px;
	margin-left: 1%;
}
.row .data p:nth-child(3),.row .revenue p:nth-child(3),
.row .fixed p:nth-child(3), .row .followers p:nth-child(3){
    font-size: 23px;
    color: #575554;
    width: 120px;
}
.row .data p:nth-child(3){margin-left: 47%;}
.row .revenue p:nth-child(3){margin-left: 52%;}
.row .fixed p:nth-child(3){ margin-left: 75%;}
.row .followers p:nth-child(3){margin-left: 65%;}
.row .data p:nth-child(5),.row .revenue p:nth-child(5),
.row .fixed p:nth-child(5), .row .followers p:nth-child(5){
    font-size: 12px;
    color: #b5b6b6;
    width: 130px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.row .data p:nth-child(5)::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	padding-left: 5px;
	background: url("../img1/alert.png") no-repeat;
	background-size: contain;
}
.row .revenue p:nth-child(5)::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	padding-left: 5px;
	background: url("../img1/calendar.png") no-repeat;
	background-size: contain;
}
.row .fixed p:nth-child(5)::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	padding-left: 5px;
	background: url("../img1/down.png") no-repeat;
	background-size: contain;
}
.row .followers p:nth-child(5)::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	padding-left: 5px;
	background: url("../img1/time.png") no-repeat;
	background-size: contain;
}
.row .daily, .row .email, .row .completed{
	box-shadow: 0 0 10px #c3c3c3;
	width: 35%;
	height: 235px;
	margin-right: 15px;
}
.row .daily img , .row .email img, .row .completed img{
	width: 90%;
	height: 90%;
}
.row .dailyimg, .row .emailimg, .row .compimg {
	position: absolute;
    width: 20%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.row .dailyimg {
	background-color: #448b00;
	top:270px;
	left: 26%;
}
.row .emailimg {
	background-color: #d89e24;
	top:270px;
	margin-left: 1%;
}
.row .compimg {
	background-color: #274d97;
	top:270px;
	margin-left: 1%;
}
.row .daily p:nth-child(2),.row .email p:nth-child(2),
.row .completed p:nth-child(2){
    font-size: 18px;
     margin-bottom: 10px;
    width: 100%;
    margin-top: 145px;
    margin-left: 4%;
}
.row .daily p:nth-child(3),.row .email p:nth-child(3),
.row .completed p:nth-child(3){
    font-size: 14px;
     margin-bottom: 15px;
    width: 100%;
    margin-left: 4%;
}
.row .daily p:nth-child(5),.row .email p:nth-child(5),
.row .completed p:nth-child(5){
    font-size: 12px;
    width: 100%;
    margin-left: 4%;
    color: #989898;
    display: flex;
    align-items: center;
}
.row .daily p:nth-child(5)::before,
.row .email p:nth-child(5)::before,
.row .completed p:nth-child(5)::before{
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	padding-left: 5px;
	background: url("../img1/time.png") no-repeat;
	background-size: contain;
}

.row .tasks, .row .emplo{
	box-shadow: 0 0 10px #c3c3c3;
	width: 50%;
	height: 300px;
	margin-right: 15px;
}
.row .tasks ul {
	margin-top: 50px;
    justify-content: center;
    align-items: center;
	display: grid;
	grid-template-columns: auto 355px auto auto;
	grid-auto-rows: minmax(50px, auto);
	grid-column-gap: 15px;
	grid-row-gap: 10px;
}
/*.row .tasks ul li:nth-child(2) {
	border-bottom: 2px solid #000;
}*/
.row .tasks ul li img {
	width: 20px;
	height: 20px;
}
.row .tasks ul li span{
	font-size: 14px;
	line-height: 1.5;
}
.row .tasks .tasksimg {
	position: absolute;
    width: 33%;
	height: 60px;
	top:565px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #d89e24;
	margin-left: 20px;
}
.row .tasks .tasksimg p{
	margin-left: 25px;
	margin-right: 15px;
	color: #fff;
}
.row .tasks .tasksimg a{width: 85px;
	height: 35px;
	display: flex;
	align-items: center;
justify-content: center;
color: #fff;
margin-right: 10px}
.row .tasks .tasksimg a:nth-child(2)::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	padding-left: 5px;
	background: url("../img1/bug.svg") no-repeat;
	background-size: contain;
}
.row .tasks .tasksimg a:nth-child(3)::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	padding-left: 5px;
	background: url("../img1/web.svg") no-repeat;
	background-size: contain;
}
.row .tasks .tasksimg a:nth-child(4)::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	padding-left: 15px;
	background: url("../img1/cloud.svg") no-repeat;
	background-size: contain;
}
.row .tasks .tasksimg a:hover{
	background-color: #dead49;
}
.row .emplo ul {
	margin-top: 70px;
	margin-left: 35px;
    align-items: center;
	display: grid;
	grid-template-columns: 15% 35% 20% 20%;
	grid-auto-rows: minmax(30px, auto);
}
.row .emplo ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #d3d3d3;
	color: #3b3a38;
	font-size: 14px;
}
.row .emplo ul li:last-child,.row .emplo ul li:nth-child(19),
.row .emplo ul li:nth-child(18),.row .emplo ul li:nth-child(17)
{border-bottom: none;}
.row .emplo ul li:nth-child(1), .row .emplo ul li:nth-child(2),
.row .emplo ul li:nth-child(3), .row .emplo ul li:nth-child(4){
	color: #4fa5af;
}
.row .emplo .emploimg {
	position: absolute;
    width: 33%;
	height: 70px;
	top:565px;
	display: flex;
	flex-direction: column;
	background-color: #274d97;
	margin-left: 20px;
	color: #fff;
}

.row .emplo .emploimg p:first-child{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 4%;
}
.row .emplo .emploimg p:last-child{
	font-size: 14px;
	margin-left: 4%;
}
footer{margin-left: 23%;}
footer ul {display: flex;}
footer ul li{
	color: #3c3b3b;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 25px;
	margin-top: 20px;
}

footer p {
	margin-left: 80%;
	color: #8f8e8c;
	margin-top: -20px;
}